body {
  background-color: var(--bg);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #E1E5FA;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-pic {
  width: 60px;
  height: 60px;
  background: url('../logo.png') center/cover no-repeat;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  padding: 1.5rem;
  width: 100%;
}

.card {
  background: #E1E5FA;
  color: #333;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  border-radius: 15px;
  font-size: clamp(1.3rem, 2.5vw, 1.6rem);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: .2s ease;
}

.card:hover {
  background: #0187C4;
  color: white;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: repeat(4, 210px);
    justify-content: center;
    padding: 4rem 0;
    gap: 2rem;
  }

  .card {
    text-align: center;

    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
  }
}

@media (min-width: 1440px) {
  .main-content {
    gap: 2rem;
    grid-template-columns: repeat(4, 300px);
  }
}

@media (min-width: 1920px) {
  .main-content {
    grid-template-columns: repeat(4, 340px);
    gap: 3rem;
  }

  .card {
    padding: 3rem;
    font-size: clamp(1.4rem, 1.4vw, 2rem);
  }
}